<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS Project</title>
  </head>
  <body>
    <main>
      <% if session[:error] %>
        <strong><%= session.delete(:error) %></strong> 
      <% end %>

      <% if session[:success] %> 
        <strong><%= session.delete(:success) %></strong>
      <% end %>

      <ul> 
        <% @files.each do |file| %> 
          <li>
            <a href="/<%= file %>"><%= file %></a>
            <br>
            <a href="/<%= file %>/edit">Edit</a>
          </li>
        <% end %>
      </ul>
    </main>
  </body>
</html>

